@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../public/font/stylesheet.scss";

body,
p,
div,
li,
ul,
span,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: 'Circe Rounded';
  background: #FDFDFF;
  color: #323854;
}