@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../public/font/stylesheet.scss";

body,
p,
div,
li,
ul,
span,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circe Rounded';
}

li {
  list-style: none;
}

body {
  font-family: 'Circe Rounded';
  background: #FDFDFF;
  color: #323854;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;

}

::-webkit-scrollbar-thumb {
  background-color: #EEEEFF;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #323854;
}